.test {
    padding: 10px;

}

.test-error {
    background-color: orangered;
}

.test-list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
}

.test-list-item {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 10px;
    border-bottom: 1px solid black;
}